@import "./quasar.variables.scss";
@import "~quasar-styl";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

// @import '~quasar-addon-styl';

* {
	font-family: "Source Code Pro", monospace;
}
.icon {
	&:hover {
		opacity: 85%;
		transition: 0.2s;
	}
}

.m-top-lg {
	margin-top: 150px;
}
.p {
	&-bot-lg {
		padding-bottom: 150px;
	}
	&-top-lg {
		padding-top: 150px;
	}
}

.txt {
	&-sm {
		font-size: 1rem;
	}
	&-md {
		font-size: 1.5rem;
	}
	&-lg {
		font-size: 2rem;
	}
	&-xl {
		font-size: 2.5rem;
	}
	&-header {
		font-size: 3.5rem;
	}
	&-enorm {
		font-size: 8rem;
	}
}

.no-dec {
	text-decoration: none;
}
